extends layout

block content
    .col-sm-10.col-sm-offset-1.setting.mainWrapper
      .mainWrapper
        .col-sm-4
          section.box.widget.locations
            .avatar
              img.temImage(src='/images/screenshots/'+userId+progectName+'.png' class="projectImage")
           
            .details
              h2 #{progectName}
              p #{email}
              a.btn.btn-primary.btn-block.btn-large(href="/scanner/"+userId +"/" +progectName , title='',  target="_blank") Edit
          section.box.widget.calendar
            .elegant-calencar
              p#reset reset
              #header.clearfix
                .pre-button <
                .head-info
                  .head-day
                  .head-month
                .next-button >
              table#calendar
                thead
                  tr
                    th Sun
                    th Mon
                    th Tue
                    th Wed
                    th Thu
                    th Fri
                    th Sat
                tbody
                  tr
                    td
                    td
                    td
                    td
                    td
                    td
                    td
                  tr
                    td
                    td
                    td
                    td
                    td
                    td
                    td
                  tr
                    td
                    td
                    td
                    td
                    td
                    td
                    td
                  tr
                    td
                    td
                    td
                    td
                    td
                    td
                    td
                  tr
                    td
                    td
                    td
                    td
                    td
                    td
                    td
                  tr
                    td
                    td
                    td
                    td
                    td
                    td
                    td

        .col-sm-8
          nav.box.nav
            ul
              li
                a(href='#')
                  span.icon-home
                  br
                  span.title Main
              li
                a(href='')
                  span.icon-images
                  br
                  span.title Gallery
              li
                a(href='')
                  span.icon-bubble
                  br
                  span.title Message
              li
                a(href='')
                  span.icon-music
                  br
                  span.title Music
              li
                a(href='')
                  span.icon-search
                  br
                  span.title Search
              li
                a(href='')
                  span.icon-cog
                  br
                  span.title Settings
              li
                a(href='')
                  span.icon-location
                  br
                  span.title Location
          .inner_container
            .col-sm-3
              input(type='hidden' class='progectManage' val='#{progectManage}') 
              section.box.widget.video
                img(src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/6035/scrtpxls_video.png', alt='')
              section.box.widget.todayUsers
                header.header
                  .temp
                    | #{today} 
                    span.icon-brightness-half
                  span.icon-partlycloudy
                article
                  h2 Today Users
              section.box.widget.totalUsers
                header.header
                  .temp
                    | #{total} 
                    span.icon-brightness-half
                  span.icon-partlycloudy
                article
                  h2 Total Users
            .col-sm-9
              div(id='map')
            
      
      script(type='text/javascript').
       jQuery(document).ready(function($) {


           var progect =!{JSON.stringify(progectManage)}
          

           var count = $('.totalUsers').find('.temp').text();
           
           var map = new GMaps({
              el: '#map',
              zoom:2,
              center: {lat: 31.5, lng: 34.75},
           });  

           for (i = 0; i < count; i++) { 
               var userCuntry = progect[i].userCountry;
               var userDate = progect[i].userDate;
               var userLat = progect[i].userPositionLat;
               var userLong = progect[i].userPositionLong;
     
                map.addMarker({
                  lat: userLat,
                  lng: userLong,
                  title: userCuntry,
                  click: function(e) {
                    alert('You clicked in this marker');
                  }
                });
           }


        

          
       });
        